.dataMonitor {
    position: relative;
    margin: 50px 50px 20px 20px;
}

.urlColumn {
    word-spacing: 9px;
}

.buttons {
    display: flex;
}

.button {
    position: relative;
    margin: 5px;
}


