.selector {
    display: flex;
    position: relative;
    width: 100%;
    justify-content: center;
    margin-bottom: 70px;
}

.items {
    width: 200px;
    padding: 20px 40px;
    font-weight: 600;
}

